
<header class="header-6">
 
    
    <div class="branding">
        <a href="..." class="nav-link">
            
            <div class="title">Do you need to search for a movie?</div>
        </a>
    </div>
    <form class="search" id="test">
        <label for="search_input">
            <input [(ngModel)] = 'name' name = 'name'>
            </label>
            <button (click) = "searchMovies()">Search By Name</button>
            
    </form>

    <div class="header-actions">
        <div class= 'loginSignup'>
           <div *ngIf = _movies.userInfo> Hello, {{this._movies.userInfo}} </div>
        <button routerLink= 'login'>Log in</button>
        <button routerLink = 'sign-up'> Sign up</button>
        </div>
            <button id= 'logout' (click) = logout()>Log Out</button>
            <!--<clr-icon shape="cog"></clr-icon>-->
    
</div>
</header>

<div class= 'backgroundColor'>
<router-outlet></router-outlet>
</div>

  <div class= 'forBackground'>

<div *ngIf = _movies.loggedIn><button (click) = 'grabFavorites()'>Show Favorites</button></div>
<div *ngIf = 'boxFavorites' class= 'favoriteNames'><div *ngFor = 'let boxFavorite of boxFavorites' class = 'favoriteBox'>
    {{boxFavorite.name}}
</div>
</div>




<div class ='thisResults' *ngIf = 'searchResults'>
    <div *ngFor = 'let result of searchResults'>
        <img class= "posterPictures" height='400px' src = "https://image.tmdb.org/t/p/w185{{result.poster_path}}">
        <h4 class = 'titles'>{{result.original_title}}</h4>
        <button (click)= postFavorites(result.original_title)>Add to Favorites</button>
        </div>
    </div>
    
    

</div>


<!--<app-login></app-login>-->
<!--<app-signup></app-signup>-->
