
#test label::before {
    background-image: none;
}

.header-6 {
    background-image: linear-gradient(40deg, silver, black)
}

.thisResults{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 30px;
    text-align: center;
}

.titles{
    color:black;
}


.posterPictures{
    border-radius: 30px;
}